# Ignore everything by default
*

# Don't ignore source directories.
!/apps
!/libs
!/scripts
!/tools
!/.nvmrc
!/.prettierignore
!/.prettierrc
!/*.*

# Ignore a few specific things in the root.
# (Not very important just avoids rebuilding images for irrelevant changes)
/LICENSE
/jest-junit-*.xml
/Thumbs.db
